@font-face {
    font-family: $font-family-custom;
    src:
      url('#{$font-path}Roboto-Medium.woff2') format('woff2'),
      url('#{$font-path}Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

@font-face {
    font-family: $font-family-custom;
    src:
      url('#{$font-path}Roboto-Bold.woff2') format('woff2'),
      url('#{$font-path}Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

@font-face {
    font-family: $font-family-custom;
    src:
      url('#{$font-path}Roboto-Black.woff2') format('woff2'),
      url('#{$font-path}Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }